body{
	
	text-align: center;
}
.tabla {
	background-color: rgb(107, 106, 105);
	border: solid 1px red;
	text-align: center;
	margin: 0 auto;
	
}
th, td
{
padding:20px;

}
thead{
background-color: rgb(107, 106, 105); 
border-bottom: solid 5px rgb(10, 66, 122);
color:white;

}
.fil{
	background-color: rgb(63, 47, 47);
	border: 2px solid blue;
	color: blanchedalmond;
	
}

form {
	
}

input{
	display: flex;
	margin: auto;
}