body
{
		height: 800px;
		background-color:rgb(0, 0, 0);
		justify-content: center;
}

.conte
{
	width: 700px;
	padding-top: 250px;
	border: blue solid 10px;
	text-align:center;
	height: 200px;
	margin: auto;	
}

.lol
{
	transition-duration: 0.4s;
	border-radius: 12px;
	height: 30px;
	width: 150px;

}
.lol:hover
{
	background-color: #5062c9; /* Green */
    color: rgb(250, 250, 250);
}